body {
  font-family: "Arial", sans-serif;
  background-color: #1A1A1A;
}

h1 {
  text-align: center;
}

div.connections {
  height: 40px;
  position: relative;
  text-align: center;
  align-content: flex-end;
}

div.connections img {
  height: 100%;
}

a:rollover {
  width: 200%;
  background : #84d0FF;
}
