body, html {
  font: "Verdana", sans-serif;
  background-color: #262626;
}

div.header {
  vertical-align: middle;
  align-content: center;
}

h1 {
  text-align: center;
  color: #010101;
}

h6 {
  text-align: center;
  vertical-align: baseline;
  color: #ffffff;
}

div.buttons a:default {
  color: #010101;
}

div.buttons a:hover {
  color: #0099FF;
}

div.buttons a:visited {
  color: #010101;
}
